.about-me {
  padding: 50px 0;
  margin: $section-margin;  

  &__title {
    margin-bottom: $title-margin;
  }

  &__text {
    width: 470px;
    margin-bottom: 30px;
    color:  $color-grey-light;
    font-weight: 400;
    line-height: 28px;
    text-align: left;    
  }

  &__text:last-of-type {
    margin-bottom: 60px;
  }

  &__photo {
    position: absolute;
      right: 73px;
      top: -50px;
  }
}
