.articles {
  margin: $section-margin;
  padding-top: 180px;
  position: relative;

  &__title {
    position: absolute;
      top: 0;
      left: 50%;
    transform: translateX(-50%);
      //пришлось прибегнуть к такому приему центрирования, потому что при text-align:center или центрировании при помощи флексбокса терялось стандартное положение ::after, а задавать заголовку фиксированную ширину тоже чревато: вдруг текст изменится?
  }

  &__container {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    width: 370px;
  }

  &__item:nth-child(2) {
    margin-top: 82px;
  }

  &__photo {
    margin-left: 32px;
    margin-bottom: 20px;
    box-shadow: -32px -31px 0px rgba(48, 48, 48, 1);    
  }

  &__heading {
    margin-bottom: 22px;
    font-family: "Droid Serif", serif;
    font-size: 20px;
    line-height: 54px;
    font-weight: 400;
    color: $color-primary;    
    border-bottom: 1px solid $color-primary;    
  }

  &__text {
    margin-bottom: 22px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: $color-white;       
  }

  &__link {
    display: block;
    width: 125px;
    padding: 5px;
    margin-left: -5px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $color-primary;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: all .7s ease-out;
  }

  &__link::before,
  &__link::after {
    content: "";
    width: 8px;
    height: 2px; 
    position: absolute;
      right: 5px;
    background-color: $color-primary;
    transition: all .7s ease-out;
  }

  &__link::before {
    transform: rotate(45deg);
    top: 11px;
  }

  &__link::after {
    transform: rotate(-45deg);
    bottom: 11px;
  }

  &__link:hover,
  &__link:focus,
  &__link:active {
    background-color: $color-primary;
    color: $color-white;
  }

  &__link:hover::before,
  &__link:focus::before,
  &__link:active::before {
    background-color: $color-white;
  }

  &__link:hover::after,
  &__link:focus::after,
  &__link:active::after {
    background-color: $color-white;
  }
}

@media (max-width: $desk-small-width) {
  .articles {
    padding-top: 150px;
    margin: $section-margin-desk-small;

    &__item {
      width: 310px;
    }

    &__item:nth-child(2) {
      margin-top: 52px;
    }

    &__photo {
      margin-left: 20px;
      margin-bottom: 20px;
      box-shadow: -20px -20px 0px rgba(48, 48, 48, 1);    
    }

    &__heading {
      margin-bottom: 20px;  
    }

    &__text {
      margin-bottom: 20px;     
    }    
  }
}

@media (max-width: $tab-width) {
  .articles {
    padding-top: 125px;
    margin: $section-margin-tablet;
    
    &__container {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    &__item:nth-child(2) {
      margin-top: 0;
      margin-bottom: 70px;
    }

  }
}

@media (max-width: $mob-width) {
  .articles {
    
    &__title {

    }
  }
}
