.contact {
  padding: 40px 0;
  margin: $section-margin;

  &__photo {
    position: absolute;
      left: 69px;
      top: -50px;
  }

  &__title {
    width: 470px;
    margin-left: auto;
    margin-bottom: $title-margin;
  }

  &__form {
    width: 470px;
    margin-left: auto;
  }

  &__btn {
    padding-top: 2px;
    line-height: 16px;
  }
}

@media (max-width: $desk-small-width) {
  .contact {
    margin: $section-margin-desk-small;
    
    &__photo {
      left: 30px;
      top: -30px;
    }
    
    &__title {
      width: 400px;
    }
    
    &__form {
      width: 400px;
    }
  }
}

@media (max-width: $tab-width) {
  .contact {
    margin: $section-margin-tablet;
    
    &__title {
      width: 280px;
      margin-left: auto;
      margin-bottom: $title-margin;
    }
    
    &__form {
      width: 600px;
    }
    
    &__btn {
      margin: 0 auto;
    }
  }
}

@media (max-width: $mob-width) {
  .contact {
    margin: $section-margin-mobile;
    
    &__photo {
      position: static;
      display: block;
      margin: 0 auto 20px;
    }
    
    &__form {
      width: 100%;
    }
  }
}

@media (max-width: $mob-small-width) {
  .contact {
    &__title {
      width: 250px;
    }
  }
}
