.footer {
  min-height: 200px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social {
    width: 80px;
    height: 80px;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid $color-primary;
    transition: all .7s ease-out;


    &:not(:last-child) {
      margin-right: 29px;
    }

    &:hover {
      background-color: $color-dark;
    }
  }
}
