.footer {
  

  &__container {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__social {
    width: 80px;
    height: 80px;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid $color-primary;
    transition: all .7s ease-out;


    &:not(:last-child) {
      margin-right: 29px;
    }

    &:hover {
      background-color: $color-dark;
    }
  }
}

@media (max-width: $tab-width) {
  .footer {    
    &__container {
      min-height: 130px;
    }
  }
}



@media (max-width: $mob-width) {
  .footer {    
    &__container {
      min-height: 100px;
    }
    
    &__social {
      width: 60px;
      height: 60px;
    }
  }
}

@media (max-width: $mob-small-width) {
  .footer {    
    &__social {
      width: 50px;
      height: 50px;
    }
  }
}
