.main-header {
  width: 964px;
  height: 471px;
  margin: 148px auto 305px;
  background: url(img/border.png);
  background-size: cover;
  padding: 64px 145px 90px;

  &__title {
    font-family: "Droid Serif";
    text-align: center;
    color: #fff;
    font-weight: 400;
  }

  &__title--top {
    text-transform: uppercase;
    display: block;
    font-size: 24px;
    line-height: 56px;    
    font-weight: 700;
    position: relative;
  }

  &__title--top::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 45px);
    height: 3px;
    width: 91px;
    background-color: #fff;
  }

  &__title--middle {
    font-size: 182px;
    line-height: 0.7;
  }

  &__title--bottom {
    text-transform: uppercase;
    display: block;
    font-size: 24px;
    line-height: 100px;
    color: #ac752f;
    font-weight: 700;
  }
}

@media (max-width: $desk-small-width) {
  .main-header {
    //ИЗМЕНЕНИЯ НЕ НУЖНЫ!
  }
}

@media (max-width: $tab-width) {
  .main-header {

  }
}

@media (max-width: $mob-width) {
  .main-header {

  }
}
