@font-face {
  font-family: "Droid Serif";
  src: url("fonts/droid_serif.woff") format("woff");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("fonts/Raleway-Bold.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1d1d1d;  
  font-family: "Raleway Regular", sans-serif;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

p, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}

.container {    
  max-width: 1920px;
  margin: 0 auto;
  padding: 1px;
  background: url(img/bg-big.jpg) top center no-repeat;
}

.btn {  
  width: 180px;
  height: 57px;
  padding-top: 19px;
  display: block;
  border: 1px solid #6b4922;
  text-decoration: none;
  color: $color-primary;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  transition: all .7s ease-out; 
  
}

.btn:hover,
.btn:focus {
  background-color: $color-primary;
  color: $color-dark;
  border: 1px solid #6b4922;
  outline: none;
}

.title {
  font-family: "Droid Serif", serif;
  color: $color-primary;
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
  position: relative;
  text-align: left;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 91px;
  background-color:$color-primary;
}

.centered-container {
  width: 1302px;
  box-shadow: 0px 0px 80px 0px rgba(43, 43, 43, 0.3);
  background-color:  $color-dark;
  padding: 40px 70px 50px;
  margin: 0 auto;
  position: relative;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@media (max-width: $desk-small-width) {  
  html, body {    
    font-size: 14px;
  }
  
  .title {
    font-size: 50px;
    line-height: 70px;
  }
  
  .centered-container {
    width: 980px;
    min-height: 440px;    
    padding: 30px 40px 40px;
  }  
}

@media (max-width: $tab-width) {
  .container {
    background: url(img/bg-medium.jpg) top center no-repeat;
  }
  
  .centered-container {
    width: 680px;
    padding: 20px 40px 30px;
  }
}

@media (max-width: $mob-width) {
  .container {
    background: url(img/bg-small.jpg) top center no-repeat;
  }
  
  .centered-container {
    width: 370px;
  }
  
  .title {
    font-size: 32px;
    line-height: 60px;
  }
}

@media (max-width: $mob-small-width) {
  
  .container {
    min-width: 290px;
    background: url(img/bg-extrasmall.jpg) top center no-repeat;
  }
  
  .centered-container {
    width: 290px;
    padding: 10px 20px 30px;
  }
  
  .title {
    text-align: center;
  }
  
  .title::after {
    width: 100%;
  }
}



